.loginImg {
  background-image: url("../../img/login-bg.jpeg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh;
}
